<h1>Categories</h1>
<%= link_to "+ New Category", new_admin_category_path %>

<%= render "admin/shared/sort_flashes" %>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="sortable" data-update-url="<%= admin_weights_update_path %>" data-model-name="Category">
    <% @categories.each do |category| %>
    <tr data-id="<%= category.id %>" data-weight="<%= category.weight %>">
      <td style="width: 30px;"><span class="glyphicon glyphicon-move"></span></td>
      <td><%= category.name %></td>
      <td>
        <%= link_to "View", admin_category_path(category) %>
        <%= link_to "Edit", edit_admin_category_path(category) %>
        <%= link_to "Delete", admin_category_path(category), method: :delete, data: { confirm: "Are you sure? This will delete all associated menu items as well." }, class: "text-danger" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>