<h1>New Menu Item</h1>
<p><strong>Category:</strong> <%= @category.name %></p>
<hr>

<%= simple_form_for(@menu_item, url: admin_category_menu_items_path(category_id: @category.id)) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <hr>
  <%= f.button :submit %>
  <%= link_to "Cancel", admin_category_path(@category), class: "btn" %>
<% end %>